* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
  --primary-font: "Roboto", sans-serif;
}

.container-home {
  background-color: #222222;
}
