.container-timeCard {
  color: #edeaea;
  text-shadow: 1px 1px 1px #383636;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px 0px #03b09e;
  gap: 2rem;
  border: 5px solid #0479a7;
  border-radius: 20px;
  background-color: #252525;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.container-timeCard h2 {
  background-color: #252525;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  color: #edeaea;
}

.container-timeCard p {
  background-color: #252525;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  text-align: center;
  color: #e1dddd;
  font-size: 1.3rem;
}

.container-icon-timeCard {
  font-size: 4rem;
}

.title-exp-timeCard {
  border-bottom: 1px solid #03b09e;
}

/* Vai ser alterado para true ao girar o card com um efeito de hover */
.container-text-timeCard {
  display: none;
}

@media screen and (min-width: 728px) {
  .container-icon-timeCard {
    font-size: 6rem;
  }

  .title-exp-timeCard {
    margin: 0;
    text-align: center;
    padding: 0;
    width: 200px;
    border-bottom: 1px solid #03b09e;
  }

  .container-timeCard {
    width: 200px;
  }
}
