.container-descript {
  display: flex;
  padding: 10px;
}

.icon-cont {
  font-size: 2rem;
  margin: 10px;
  color: rgb(3, 136, 208);
}

.descript-text p {
  display: flex;
  padding: 10px;
  font-family: "Poppins";
  font-style: normal;
  text-align: left;
  font-weight: 400;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.7);
}

.descript-text {
  color: white;
}

.descript-text h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
}
