.container-body-skills {
  background-color: #222222;
}

.title-exp-timeCard {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: white;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
}

.container-exp-timeCard {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.into-container-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 728px) {
  .content-exp {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }

  .container-exp-description {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 1rem;
  }

  .into-container-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* Problema no responsivo aqui */
  }

  .container-exp-timeCard {
    display: flex;
    flex-direction: column;
  }

  .title-exp-timeCard {
    border-top: none;
  }

  .container-body-skills {
    gap: 2rem;
  }
}
