.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
}

.container-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.container-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-form h2 {
  font-size: 2rem;
  font-weight: 700;
  font-family: "Popins";
  text-align: center;
  color: white;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 1rem;
}

.form-left label {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  font-family: "Popins";
}

.form-left label input {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  padding: 15px;
  font-weight: 600;
  font-family: "Popins";
}

.assunto {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  gap: 1rem;
  font-family: "Popins";
}

.assunto label {
  text-align: center;
}

.assunto #message {
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Popins";
}

.assunto #message:focus {
  outline: none;
}

.assunto button {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 5px;
  font-size: 1rem;
  padding: 15px;
  font-weight: 600;
  font-family: "Popins";
  background-color: #fff;
  color: #222222;
  cursor: pointer;
  margin-bottom: 20px;
}

.assunto button:hover {
  background-color: #222222;
  color: #fff;
}

@media screen and (min-width: 728px) {
  .form-group {
    flex-direction: row;
  }

  .container-contact {
    flex-direction: row;
    padding-top: 30px;
    justify-content: space-around;
  }

  .container-form {
    width: 50%;
  }

  .form-group {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
  }

  .form-left {
    padding: 0;
    width: 50%;
  }

  .form-left label {
    width: 100%;
  }

  .form-left label input {
    width: 100%;
  }

  .assunto {
    width: 50%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }

  .assunto #message {
    height: 150px;
  }
}
